.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paid {
    padding-left: 23px;
    padding-right: 23px;
}

.undo {
    padding-left: 20px;
    padding-right: 20px;
}