main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pending-bills {
    margin-top: 12vh;
    font-weight: bold;
    font-size: 70px;
}

td {
    text-align: center;
    padding: 20px;
}

div {
    text-align: center;
}

.pending-table, .pending-total {
    font-weight: bold;
}